# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff:
*.sqlite3
/db.sqlite3
/media
/static

# Environment variables
.env

# VSCode
.vscode/

# Virtual environment
venv/